* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', monospace;
    background-color: #7c5ab6;
    min-height: 100vh;
    background-image: url(dw_palm2.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--playlist);
}

.menu-bar {
    background-color: #6167c7;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: fixed;
    z-index: 100;
}

.logo {
    max-width: 100%;
    height: auto;
    display: relative;
    top: 30px;
}

.menu-bar ul {
    list-style: none;
    display: flex;
}

.menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */

    position: relative;
}

.menu-bar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;

    transition: all 0.3s;
}

.menu-bar ul li a:hover {
    color: #0aa2e1;
}

.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
    color: #ffffff;
}

.dropdown-menu {
    display: none;
}

.menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #4679ce;
}

.menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px; 
}

.menu-bar ul li .dropdown-menu a:hover {
    color: #ed5db5;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
